@import "../components/_footer.css";
@import "../components/_header.css";

/* Welcome section styling, as well as positioning */
.welcome-section {
    text-align: center;
    background-color:burlywood;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Welcome section image */
.welcome-section img {
    max-width: 80%;
    margin-bottom: 20px;
    height: 50%;
}
/* Welcome section heading and text */

.welcome-section h2 {
    color: black;
    margin: 0;
    font-size: 24px; 
}

.welcome-section p {
        font-size: 16px; 
    }

/* Navbar/header mediascreen info */
/* Media query to show the menu icon and hide the navbar on smaller screens  */
@media screen and (max-width: 768px) {
        .menu-icon {
            display: block;
        }
    
        #menu-toggle:checked + .menu-icon + .navbar {
            display: flex;
        }
    
        .navbar {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 50px; 
            right: 0;
            background-color: #333;
        }
    
        .navbar a {
            text-align: center;
        }
    }