.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: saddlebrown;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* footer styling and icons - graphic component*/ 
.footer .socials-box {
    text-align: center;
}

.footer .socials-box p {
    margin: 0;
    font-size: 16px;
}

.footer .social-media {
    display: flex;
    justify-content: center;
}

.footer .social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

 /* Media query to show the menu icon and hide the navbar on smaller screens  */
 @media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    #menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px; 
        right: 0;
        background-color: #333;
    }

    .navbar a {
        text-align: center;
    }

    .welcome-section img {
        margin-bottom: 10px; 
    }

    .welcome-section h2 {
        font-size: 24px; 
    }

    .welcome-section p {
        font-size: 16px; 
    }

    
}