header {
    background-color: saddlebrown;
    height: 50px;
    margin: 0;
    padding: 15px;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .name {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

body {
    margin: 0;
    border: 0;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Had an issue with the checkbox being displayed so I got rid of it with display: none; here is my nav bar styling below */
.menu-icon {
    font-size: 32px;
    cursor: pointer;
    display: none; 
    margin-right: 30px;
}

#menu-toggle {
    display: none;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}